@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GM e AR</h1>
    <p class="lead">O seu portal de acesso para funcionamento de usuário mais atualizado</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Comece aqui! &raquo;</a></p>
</div>

